@media (min-width: 768px) {


.container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

}

/* display flex wird auf übercontainer angewendet.  */


.box {

    width: 30%;

}


#main {

    /*flex: 2;*/

}

#left {

    /*flex: 1;*/

}

#right {

   /* flex: 1;*/

}